<div>
  <h3><%= @post.title %></h3>
  <p><%= @post.body %></p>
</div>

<% if @post.user_id == current_user.id  %>
  <%= link_to 'Edit Post', edit_post_path(@post) %>
  <%= link_to 'Delete Post', post_path(@post), method: :delete %>
<% end %>

<div class="comments">
  <h4>Comments</h4>
  <%= render @comments %>
  <%= link_to 'Create Comments', new_post_comment_path(@post) %>
</div>

<%= link_to 'Back', posts_path %>
